body {
  background: url('https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&w=1000&q=80')
    no-repeat center center/cover;
  height: 50vh;
}
h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

form input {
  padding: 10px;
  margin-bottom: 5px;
  outline: none;
}

form input[type='submit'] {
  background: #ec6397;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 1s ease-in;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form input[type='submit']:hover {
  background-color: #9c1549;
}
